

.wrapper {
    width: 80%;
    background-color: #EAE8D9;
    padding: 1%;
    margin: -3% auto 0% !important;
}
.main {
    margin: auto;
    padding: 1%;
}

.wp-caption {
  background: #EAE8D9;
  border: none;
  width: 100%;
}

.wp-caption-text {
  font: inherit;
  font-size: 1.2em !important;
  text-align: left;
  margin: .4em 0 1em !important;
}

#content-section {
  display: block;
  margin: -2em 0 4em;
  overflow: hidden;
}

#content-section p {
  font-family: Times;
  font-size: 1.75em;
}

/**** Page Title ****/
.page-title {

  padding-bottom: 5px;
  font-size: 28px;
  text-transform: none;
  border-bottom: 2px solid rgba(157, 157, 157, .6);
  }

.page-title:first-letter {
  font-size: 36px;
  font-family: "cabazon", ;
  font-weight: 400;
  }

/* EXPANDED CLICK-AREA */
a {
position: relative;
padding: .75em;
margin: -.75em;
}


/************** HEADER ************/

/*** LOGO ***/
.logo img{
    max-width: 80%;
    margin: 20px 25% 40px;
}


/****NAV BAR ****/
.main-nav {
    width: 98%;
    padding: 2em;
    background-color: rgba(0,0,0,.55);
    text-align: justify;
    margin: 0 1%;
}
.main-nav ul {
    text-align: justify;
    line-height: 0;
    margin: 0% 5%;
    padding: 0;
}
.main-nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.main-nav li {
    display: inline-block;
    font-family: "Open Sans", georgia, serif;
    font-size: 2em;
    line-height: 100%;
    text-align: center;
}

.main-nav li a {
    color: white;
    margin: -.75em -.75em -.15em;
    padding: .75em .75em .15em;
}

.main-nav li a:hover {
  border-bottom: white solid;
}

.current-menu-item a {
    border-bottom: #7CD9AD solid !important;
    color: #7CD9AD !important;
}

/*************General Posts****************/
.post-title {
  font-size: 1.5em;
}

.post-date {
  font-weight: lighter;
}


/**************** MainPage (Slides)***********/
.slides figure:first-child {
position: relative;
}

.slides figure {
opacity: 0;
transition: opacity 3s;
height: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
overflow: hidden;
}
.slides figure img {
min-height: 100%;
}

.slides .show {
opacity: 1;
}

.slides {
position: relative;
display: block;
height: 400px;
vertical-align: bottom;
overflow: hidden;
}


