body {
    width: 100%;
    padding: 2%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font: 300 12px/1.2 'PT Serif', serif;
    color: #444;
}

.wrapper {
    width: 80%;
    background-color: #EAE8D9;
    padding: 1%;
    margin: -3% auto 0% !important;
}
.main {
    margin: auto;
    padding: 1%;
}

.wp-caption,
figcaption {
  background: #EAE8D9;
  border: none;
  width: 100%;
}

.wp-caption-text,
figcaption {
  font: inherit;
  font-size: 1.2em !important;
  text-align: left;
  margin: .4em 0 1em !important;
}

#content-section {
  display: block;
  margin: 1em 1em 4em;
  overflow: hidden;
}

#content-section p {
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}

/**** Page Title ****/
.page-title {
  font-size: 28px;
  text-transform: none;
  border-bottom: 2px solid rgba(157, 157, 157, .6);
  margin: 0 0 1em 0;
  }

.page-title:first-letter,
.product_title:first-letter {
  font-size: 36px;
  font-family: 'UnifrakturMaguntia', serif;
  font-weight: 400;
  }

/* EXPANDED CLICK-AREA */
a {
position: relative;
padding: .75em;
margin: -.75em;
}


/************** HEADER ************/

header {
  margin: 0 0 4em;
}

/*** LOGO ***/
.logo img{
    width: 40%;
    margin: 2em 30% 2em;
}

/*********** MOBILE NAV *******************/

.mn-navigation-wrap {
  background: rgb(73, 73, 72) !important;
  box-shadow: -3px 4px 24px !important;
}

html.mn-open {
  background: rgb(73, 73, 72) !important;
  box-shadow: -3px 4px 24px;
}

html.mn-open .mn-navigation-wrap {
  top: 0;
  right: 0;
  left: inherit;
  z-index: 10000;
  height: auto;

  overflow-y: hidden;
  width: 45%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
  padding: 0 1em 1em 0;
  background: rgb(73, 73, 72) !important;
  box-shadow: -3px 4px 24px !important;
}
html.mn-open .mn-navigation-wrap li {
  font-family: 'PT Serif', serif !important;
}
.current_page_item a {
  background-color: rgb(124, 217, 173) !important;
}
.icono-cross {
  width: 0 !important;
}
.children {
  display: none;
}


/****NAV BAR ****/
.main-nav {
    width: 100%;
    padding: 1.75em 0;
    background-color: rgba(0,0,0,.55);
    text-align: justify;
    margin: 0 auto 0;
}
.main-nav ul {
    text-align: justify;
    line-height: 0;
    margin: 0% 3%;
    padding: 0;
}
.main-nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.main-nav li {
    display: inline-block;
    font-family: "Open Sans", georgia, serif;
    font-size: 1.5em;
    line-height: 100%;
    text-align: center;
}

.main-nav li a {
    color: #fff;
    margin: -.75em -.75em -.15em;
    padding: .75em .75em .15em;
}

.main-nav li a:hover {
  border-bottom: rgb(234, 232, 217) 3px solid;
}

.current-menu-item a {
    border-bottom: #7CD9AD 3px solid !important;
    color: #7CD9AD !important;
    background: none !important;
}


/*************General Posts****************/
.post-title {
  font-size: 1.75em;
  border-bottom: 2px solid rgba(157, 157, 157, .6);
}

.post-date {
  font-weight: lighter;
}
.full-post {
  /*border-bottom: 2px solid rgba(157, 157, 157, .6);*/
  margin-bottom: 4em;
}

/**************** 2-Column *******************/

.col-1of2 {
  width: 46%;
  margin: 0 1%;
  display: inline-block;
  float: left;
}
.col2-image{
  max-width: 100%;
  margin: 0 auto;
}
.col1-image {
  display: none !important;
}


/**************** MainPage (Slides)***********/
.slides figure:first-child {
position: relative;
}

.slides figure {
opacity: 0;
transition: opacity 3s;
height: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
overflow: hidden;
width: 100%;
}
.slides figure img {
min-height: 100%;
}

.slides .show {
opacity: 1;
}

.slides {
position: relative;
display: block;
height: 400px;
vertical-align: bottom;
overflow: hidden;
width: 100%;
margin: -3em 0 2em 0;
}

/**************** MainPage (Content)***********/
.title:first-letter {
  font-family: 'UnifrakturMaguntia', serif;
  font-size: 28px;
}

.title {
  font-weight: bolder;
}

.col-1of3 {
  width: 29%;
  display: inline-block;
  float: left;
  margin: auto 2.16666666666%;
}

/************* A2A SHARE Button *************/
.addtoany_share_save_container a {
  display: none;
  text-align: center !important;
  font-size: 1.5em !important;
  margin: 2em auto 2em !important;
  color: #710411;
}
.addtoany_share_save_container {
  margin: 2em auto;
}

.a2a_dd {
  display: block !important;
}


.a2a_menu a:hover, 
.a2a_menu a:focus, 
.a2a_menu a:active,
.a2a_menu a:visited {
  background: inherit !important;
  border: none !important;
}

.a2a_menu_show_more_less {
  display: none !important;
}

/********************* FOOTER *****************/

  .footer {
    text-align: center;
    margin: 2% auto 3%; 
    font-size: 1.25em;
    line-height: 1.3em;
    display: block;
    clear: both;
    border-top: 2px solid rgba(157, 157, 157, .6);
    padding: 4% 0 0;
  }

  .social-links a,
  a {
    color: #710411;
  }

  #footer-content {
    line-height: 1.3em;
    padding: 1em;
    letter-spacing: .25em;
  }


  /****************** WINE CELLAR ************/
  .overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, .6);
  opacity: 0;
  padding: 30% 2%;
  transition: opacity .5s, padding .75s;
  -webkit-transition: opacity .5s, padding .75s;
}
.overlay:hover {
  opacity: 1;
  padding: 50% 2%;
}
.wine-info{
  font-size: 2em;
  border-bottom:solid 2px  rgb(124, 217, 173);
  color: rgb(234, 232, 217);
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: .75em;
  margin: 0 1em;
}
.wine-container {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.wine-link {
  display: inline-block;
  position: relative;
  width: 31.3333333333%;
  float: left;
  margin: 1%;
  padding: 0;
}
.wine-image img {
  position: relative;
  overflow: hidden;
  width: 100%
}

.wine-categories {
  display: block;
  font-size: 1.35em !important;
  /*margin: -.75em 0 -.75em 1em;*/
}
.wine-categories input {
  display: inline-block;
}
.wine-categories input,
.wine-categories a {
  border: none;
  background: none;
  color: #710411;
}
.wine-categories input:hover,
.wine-categories a:hover {
  color: rgb(68, 68, 68);
}


/********** Single Wine Page *******/
#single-wine-image {
  width: 35%;
  margin: 0 2.5%;
  float: left;
  background: #fff;
  display: inline-block;
  overflow: hidden;
  max-height: 450px;
}
#single-wine-image img {
  max-height: inherit;
  display: block;
  margin: 0 auto;

}
.attachment-shop_single {
  width: 50% !important;
  margin: 0 auto !important;
  box-shadow: #444 0 0 20px 0 !important;
}

div.thumbnails {
  padding-top: 1em;
  width: 80%;
  margin: 0 2.5% 0 17.5%;
}
.images img.attachment-shop_thumbnail {
  width: 65% !important;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: #444 0 0 20px 0 !important;
}

.single-wine-info,
.summary {
  width: 46% !important;
  margin: 0 4% 0 2% !important;
  line-height: 2em;
  float: left;
  display: inline-block;
  padding: 0 1% 0 0 !important;
}

.summary p {
  line-height: 2em;
}

.wine-heading,
.product_title {
  width: 80%;
  margin: 0 15% 0 0;
  line-height: 2em;
  float: left;
  display: inline-block;
  padding: 0 1% 0 0;
}
.wine-subheading {
  border-bottom: 2px solid rgba(157, 157, 157, .6);
  width: 95%;
  margin: 0 5% 2% 0;
  padding-bottom: 1%;
  float: left;
}

.price {
  color: #444 !important;
}
.stock,
.posted_in {
  display: none !important;
}


form.cart {
  padding: 6% 0px;
  margin-left: 3em !important;
}
.woocommerce a.remove:hover {
  color: #7CD9AD!important;
   background: none !important; 
}
#add-to-cart,
.single_add_to_cart_button {
  font-size: 1.25em !important;
  width: 33%;
  padding: .666em 2em !important;
  background-color: #444 !important;
  border: solid 1px #202020 !important;
  color: #eae8d9 !important;
  border-radius: 5px !important;
}
#quantity-input,
.quantity input,
.coupon input {
  width: 5em !important;
  border: solid 1px #444;
  border-radius: 3px;
  padding: .5em 0 !important;
  margin-right: .666em !important;
  font-size: 1.25em !important;
  font-weight: bold !important;
}
#quantity-label {
  font-size: 1.35em;
}

.actions input {
  width: 8em !important;
  font-size: 1.25em;
}
.woocommerce input.button {
  font-size: 1.25 !important;
}

.state_select {
  margin-top: .5em;
}
aa ae ap as gu mp pr um vi
option[value="AR"],
option[value="KY"],
option[value="MA"],
option[value="MS"],
option[value="NH"],
option[value="PA"],
option[value="TX"],
option[value="UT"],
option[value="AA"],
option[value="AE"],
option[value="AP"],
option[value="AS"],
option[value="GU"],
option[value="MP"],
option[value="PR"],
option[value="UM"],
option[value="VI"] {
  display: none;
}

.checkout-button {
  width: 17em !important;
}

#show-cart-link {
  font-size: 1.5em;
  background-color: #696861;
  border-radius: 1em;
  border: 1px solid#444444;
  padding: .5em 3em !important;
  position: fixed;
  top: 10%;
  right: 17%;
  color: #fff;
}

/***********CONTACT***********************/
  #col-1of2 {
    width: 48%;
    margin: -2% 1% 0;
    padding: 2% 1% 0 0;
    display: inline-block;
    float: left;
  }
  #col-2of2 {
    width: 48%;
    margin: 0 1% 0 0;
    padding: 0;
    display: inline-block;
    float: right;
  }

/*  .row {
    height: 100%;
    width: 100%;
    display: block;
  }*/

  .wpcf7 {
    line-height: .75em;
    font-size: 1.1em;
  }

  .wpcf7-form-control {
    border-radius: 5px;
    margin: .5em auto;
    width: 100%;
    background-color: #faf0f0;
  }

  .wpcf7-submit {
    display: inline-block;
    width: auto;
    height: auto;
    padding: .75em 2.5em;
    margin: 0 0 0 0;
    color: #fff;
    background-color: #565656;
    border-width: 0;
    font-family: 'PT Serif', serif;
    line-height: 1em;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 1em;
  }

  .wpcf7-textarea {
    max-height: 6em;
  }





/*************** 8 column (3+5) *********/
          /* BLOG + BUZZ */
.col-5of8 {
  width: 62%;
  margin: 0 1% 0;
  padding: 0 1% 0 0;
  display: inline-block;
  float: left;
}
.col-5of8 img{
  width: 100%;
  height: auto;
}
.col-3of8 {
  width: 36%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}

.col-5of8 iframe {
  max-width: 42vw !important;
}


/**************** EVENTS *****************/
.event-heading {
  border-bottom: 2px solid rgba(157, 157, 157, .6);
  line-height: .5em;
  font-weight: bold;
  margin-bottom: 2em;
}
#event-title,
#event-address {
  font-weight: normal;
}

.event-content {
  margin: 0 2.5%;
  font-size: 1.5em;
  width: 95%
}
.event-content img {
  width: 80%;
  margin: 1em auto;
  display: block;
}

.date-time {
  text-align: center;
  line-height: 0;
  margin: 4.35em -100% 0 0;
  width: 100%;
}
.event-date {
  margin-bottom: 1em !important;
  border-bottom: 2px solid rgba(157, 157, 157, .6);
}
.dow {
  font-size: 1em !important;
}
.month {
  font-size: 1.25em !important;
  text-transform: uppercase;
}
.day {
  font-size: 2em !important;
}
.row {
  display: table;
  width: 100%;
  clear: both;
  margin-bottom: 100px;
}
.time {
  font-size: .75em !important;
}
.event {
  margin: inherit auto 5em !important;
}
.left {
  float: left;
  clear: left;
}
.right {
  float: right;
  clear: right;
}
.col {
  margin: 0 .5% auto;
}
.col1of10 {
  width: 8%;
}
.col9of10 {
  width: 88%;
}
.small-date-time {
  font-weight: bold;
  display: none;
}
/***************** SINGLE EVENT ******************/
.single-event-content {
  margin-bottom: 10em;
}
.single-event-content img {
  width: 80%;
  margin: 2em 10%;
}
.single-event-content p {
  font-size: 1em;
}
.event-links {
  text-align: center;
  letter-spacing: .1em;
  display: block;
}
.event-link {
  margin: 0 10%;
  width: 30%;
  font-size: 1.25em
}
.next {
  float: right;
}
.prev {
  float: left;
}


/************** MEDIA QUERIES ****************************/


@media only screen and (max-width : 1200px) {
.main-nav li {
  font-size: 1.5em;
}
.main-nav {
  padding: 1.25em 0;
}
#add-to-cart {
  font-size: 1.25em;
  padding: 1em .5em;
}

}


@media only screen and (max-width: 992px) {
  body {
    font-size: 12px;
  }
.slides {
  height: 320px;
}
.main-nav li {
  font-size: 1.3em;
  font-weight: normal;
}
.main-nav {
  padding: 1em 0;
}
.logo img {
  width: 80%;
  margin: 2em 10%;
}
#col-1of2,
#col-2of2 {
  margin: 0 2%;
  width: 96%;
}
.col-1of2 {
  width: 98%;
}

.col2-image {
  display: none !important;

}
.col1-image {
  max-width: 80%;
  margin: 0 10%;
  display: block !important;
}
.col-1of3 {
  width: 40%;
  margin: 0 5% 2em;
  font-size: .85em;
}
.col-3of8 {
  display: none;
}
.col-5of8 {
  width: 98%;
}
.col-5of8 iframe {
  max-width: 70vw !important;
}
.single-wine-info {
  width: 90%;
  display: block;
  margin: 0 5%;
}
#single-wine-image {
  width: 35%;
  height: auto;
  display: inline-block;
}
.wine-heading {
  width: 59%;
  margin: 20% 0% 0;
  float: right;
  display: inline-block;
}
.col1of10 {
  width: 14%;
}
.col9of10 {
  width: 82%;
}
.event-links p {
  font-size: 1em
}
.single-event-content p {
  font-size: 1.5em;
}

}

@media only screen and (max-width: 768px) {

.wrapper {
  width: 90%;
}
.slides {
  height: 280px;
}
.logo img {
  padding: 0 0 1em;
  border-bottom: 2px solid rgba(157, 157, 157, .6);
}
.main-nav {
    display: none;
}
#show-cart-link {
  font-size: 1.5em;
  background-color: #494948;
  border-radius: 1em;
  border: none !important;
  padding: .5em 1em !important;
  position: fixed;
  top: 21px;
  left: 20px;
  right: auto;
  color: #fff;
  z-index: 9999999;
}
.wine-link {
  width: 48%;
  margin: inherit 1%;
}
.overlay {
  opacity: .6;
  padding: 30% 2% 10%;
}
.overlay:hover {
  padding: 30% 2% 10%;
}
.wine-info {
  font-size: 1.75em;
}
.col-1of3 {
  width: 90%;
  margin: 0 5% 3em;
  float: none;
}
.col-1of3 img {
  display: none;
}
.big-date-time {
  display: none;
}
.small-date-time {
  display: block;
}
.col1of10 {
  display: none;
}
.col9of10 {
  width: 98%;
}


}

@media only screen and (max-width: 600px) {

#footer-content {
  line-height: 1.5em;
}
.single-wine-info {
  width: 90%;
  display: block;
  margin: 0 5%;
}
#single-wine-image {
  width: 45%;
  height: auto;
  margin: 0 25%;
  float: none;
  display: block;
}
.wine-heading {
  width: 85%;
  margin: 0 7% 0;
  text-align: center;
  float: none;
  display: block;
}
.col-5of8 iframe {
  max-width: 75vw !important;
}
.event-content,
.event-content img {
  width: 95%
}

}

@media only screen and (max-width: 500px) {
.slides {
  display: none
}

.wine-info {
  font-size: 1.25em;
}

}

@media only screen and (max-width: 320px) {

.slides {
  height: 180px;
}


}