

.wrapper {
    width: 80%;
    background-color: #EAE8D9;
    padding: 1%;
    margin: -3% auto 0% !important;
}
.main {
    margin: auto;
    padding: 1%;
}

.wp-caption {
  background: #EAE8D9;
  border: none;
  width: 100%;
}

.wp-caption-text {
  font: inherit;
  font-size: 1.2em !important;
  text-align: left;
  margin: .4em 0 1em !important;
}

#content-section {
  display: block;
  margin: -2em 0 4em;
  overflow: hidden;
}

#content-section p {
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}

/**** Page Title ****/
.page-title {

  padding-bottom: 5px;
  font-size: 28px;
  text-transform: none;
  border-bottom: 2px solid rgba(157, 157, 157, .6);
  }

.page-title:first-letter {
  font-size: 36px;
  font-family: 'UnifrakturMaguntia', serif;
  font-weight: 400;
  }

/* EXPANDED CLICK-AREA */
a {
position: relative;
padding: .75em;
margin: -.75em;
}


/************** HEADER ************/

header {
  margin: 0 0 4em;
}

/*** LOGO ***/
.logo img{
    max-width: 80%;
    margin: 2em 25% 2em;
}


/****NAV BAR ****/
.main-nav {
    width: 100%;
    padding: 1.75em 1.5em;
    background-color: rgba(0,0,0,.55);
    text-align: justify;
    margin: 0 auto 1.5em;
}
.main-nav ul {
    text-align: justify;
    line-height: 0;
    margin: 0% 5%;
    padding: 0;
}
.main-nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.main-nav li {
    display: inline-block;
    font-family: "Open Sans", georgia, serif;
    font-size: 1.75em;
    line-height: 100%;
    text-align: center;
}

.main-nav li a {
    color: #fff;
    margin: -.75em -.75em -.15em;
    padding: .75em .75em .15em;
}

.main-nav li a:hover {
  border-bottom: rgb(234, 232, 217) 3px solid;
}

.current-menu-item a {
    border-bottom: #7CD9AD 3px solid !important;
    color: #7CD9AD !important;
}

/*************General Posts****************/
.post-title {
  font-size: 1.5em;
}

.post-date {
  font-weight: lighter;
}


/**************** 2-Column *******************/

.two-column-content {
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    margin: 3em 0;
}

.two-column-content p {
  display: inline-block;
}


/**************** MainPage (Slides)***********/
.slides figure:first-child {
position: relative;
}

.slides figure {
opacity: 0;
transition: opacity 3s;
height: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
overflow: hidden;
width: 100%;
}
.slides figure img {
min-height: 100%;
}

.slides .show {
opacity: 1;
}

.slides {
position: relative;
display: block;
height: 400px;
vertical-align: bottom;
overflow: hidden;
width: 100%;
margin: -5em 0 2em 0;
}

/************* A2A SHARE Button *************/
.addtoany_share_save_container a {
  display: none;
  text-align: center !important;
  font-size: 1.5em !important;
  margin: 2em auto 2em;
  color: #710411;
}

.a2a_dd {
  display: block !important;
}


.a2a_menu a:hover, 
.a2a_menu a:focus, 
.a2a_menu a:active,
.a2a_menu a:visited {
  background: inherit !important;
  border: none !important;
}

.a2a_menu_show_more_less {
  display: none !important;
}

/********************* FOOTER *****************/

  .footer {
    text-align: center;
    margin: 2% auto 3%; 
    font-size: 14px;
    line-height: 1.3em;
    display: block;
    clear: both;
    border-top: 2px solid rgba(157, 157, 157, .6);
    padding: 4% 0 0;
  }

  .social-links a {
    color: #710411;
  }

  #footer-content {
    line-height: .75em;
    padding: 1em;
    letter-spacing: .25em;
  }


  /****************** WINES ************/
  .overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, .6);
  opacity: 0;
  padding: 30% 10%;
  transition: opacity .5s, padding .75s;
  -webkit-transition: opacity .5s, padding .75s;
}
.overlay:hover {
  opacity: 1;
  padding: 50% 10%;
}
.wine-info{
  font-size: 2em;
  border-bottom:solid 2px  rgb(124, 217, 173);
  color: rgb(234, 232, 217);
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: .75em;
  margin: 0 1em;
}
.wine {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.wine-link {
  display: inline-block;
  position: relative;
  width: 31.3333333333%;
  float: left;
  margin: 1%;
  padding: 0;
}
.wine-image img {
  position: relative;
  overflow: hidden;
  width: 100%
}
